.searchButton {
    border-radius: 5px;
    background-color: azure;
}


.currentWeather {
    border: solid gray 2px;
    padding: 10px;
    margin-bottom: 10px;

}

.day-1 {
    border-radius: 15px;
    background-color: rgb(114, 247, 247);
}